<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>
<body>
	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../../index.html" id="OneButton" > Home </a> </button>
	<a href="artists.html">Artists </a> </button>
	<a href="../about.html"> About </a> </button>
	<a href="../playlist.html">Playlist </a> </button>
	</div>
	
	<div class="Name">
	<button id="bttn" onclick="document.getElementById('myPara').innerHTML ='Amine'"> Who is this artists? </button>
	<p id="myPara"> </p>
	</div>
	
	<img src="../../images/AmineAbout.jpg" alt="Amine">


	<p>
		Adam Aminé Daniel (born April 18, 1994), known professionally as Aminé, is an American rapper, singer and songwriter.The son of Eritrean and Ethiopian immigrants who immigrated to the US in the early 1990s, Aminé's mother worked at a post office and his father was a teacher and translator part-time. Aminé was born and raised in Portland, Oregon. He grew up wanting to play basketball, but was cut from Benson Polytechnic's basketball team freshman and sophomore year. His rap career then began to come into fruition when he would make diss tracks about rival high schools, Grant High School and Lincoln High School. <a href="https://en.wikipedia.org/wiki/Amin%C3%A9_(rapper)"> (Source) </a>
	</p>

		<p>
			<b> Discography<b>
		<br>
		<br>
	 
	 <b> Good For You (2017) </b> 
	 	<br>
	 	
	 <b> OnePointFive (2018) </b> 
	</p>

</body>

</html>