<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/artists.css">
	
</head>
<body>
	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../../index.html" id="OneButton" > Home </a> </button>
	<a href="artists.html">Artists </a> </button>
	<a href="../about.html"> About </a> </button>
	<a href="../playlist.html">Playlist </a> </button>
	</div>

	<h2> ARTISTS </h2>
	<!-- Parent Div  -->
	<div class="ParentDiv">
		<!-- Aritsts -->
		
		<!-- Mac -->
		<a href="Mac.html">
		<img id="Mac" src="../../images/MacMillerArtistPG.jpg" alt="Mac Miller">
		</a>
		
		<!-- Sza -->
		<a href="Sza.html">
		<img id="Sza" src="../../images/SZAARTISTPG.jpeg" alt="SZA">
		</a>
		
		<!-- Rex Orange County -->
		<a href="Rex.html">
		<img id="Rex" src="../../images/REXORANGEPG.jpg" alt="Rex Orange County">
		</a>

		<!-- Brockhampton -->
		<a href="Brock.html">
		<img id="Brock" src="../../images/BrockhamptonPG.jpg" alt="Brockhampton">
		</a>

		<!-- Amine -->
		<a href="Amine.html">
		<img id="Amine" src="../../images/AMINEPG.jpg" alt="Amine">
		</a>
		
		<!-- Nokia -->
		<a href="Nokia.html">
		<img id="Nokia" src="../../images/NOKIAPG.png" alt="Princess Nokia">
		</a>
		
		<!-- Travis -->
		<a href="Travis.html">
		<img id="Travis" src="../../images/TRAVISPG.jpeg" alt="Travis Scott">
		</a>
		
		<!-- Joey -->
		<a href="Joey.html">
		<img id="Joey" src="../../images/JOEYPG.jpg" alt="Joey Badass">
		</a>
		<!-- Saba -->
		<a href="Saba.html">
		<img id="Saba" src="../../images/SABA.jpg" alt="Saba">
		</a>

	</div>
</body>

</html>
