<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>
	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../../index.html" id="OneButton" > Home </a> </button>
	<a href="artists.html">Artists </a> </button>
	<a href="../about.html"> About </a> </button>
	<a href="../playlist.html">Playlist </a> </button>
	</div>
	
	<div class="Name">
	<button id="bttn" onclick="document.getElementById('myPara').innerHTML ='Brockhampton'"> Who is this artists? </button>
	
	

	<p id="myPara"> </p>
	</div>
	
	<img src="../../images/BrockhamptonAbout.jpg" alt="BrockHampton Group Photo">
<p>
		Brockhampton is an American musical collective formed in San Marcos, Texas, in 2015 and currently based in California. Led by Kevin Abstract, Brockhampton formed partially through the online forum "KanyeToThe", and define themselves as a boy band.The group consists of vocalists Kevin Abstract, Matt Champion, Merlyn Wood, and Dom McLennon, vocalists/producers Joba and Bearface, and producers Romil Hemnani, Jabari Manwa, and Kiko Merley (the latter two of which function as the duo Q3), as well as graphic designer Henock "HK" Sileshi, photographer Ashlan Grey, web designer Roberto Ontenient (who also features prominently in voice skits), and manager Jon Nunes. <a href="https://en.wikipedia.org/wiki/Brockhampton_(band)"> (Source) </a>
	</p>

		<p>
			<b> Discography<b>
		<br>
		<br>
	 <i> Saturation (2017) </i> 
	 	<br>
	 	<br>
	 <i> Saturation II (2017) </i> 
	 	<br>
	 	<br>
	 <i> Saturation III (2017) </i> 
		<br>
	 	<br>
	 <i> Iridescence(2018) </i> 

	</p>

</body>

</html>