<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../../index.html" id="OneButton" > Home </a> </button>
	<a href="artists.html">Artists </a> </button>
	<a href="../about.html"> About </a> </button>
	<a href="../playlist.html">Playlist </a> </button>
	</div>
	
	<div class="Name">
<button id="bttn" onclick="document.getElementById('myPara').innerHTML ='Joey Badass'"> Who is this artists? </button>
<p id="myPara"> </p>
	</div>
	
	<img src="../../images/JoeyAbout.jpg" alt="Joey Badass">
	<p>
		Jo-Vaughn Virginie Scott (born January 20, 1995), better known by his stage name Joey Badass (stylized as Joey Bada$$), is an American rapper, actor, and record producer. Raised in Brooklyn, New York, he is a founding member of the hip-hop collective Pro Era, with whom he has released three mixtapes. He released his debut mixtape, 1999, on June 23, 2012, to critical acclaim and recognition, followed by Rejex in September, and Summer Knights on July 1, 2013. His debut studio album, B4.DA.$$, was released January 20, 2015. In July 2016, he made his television debut on the USA Network series Mr. Robot. His second studio album ALL-AMERIKKKAN BADA$$ was released on April 7, 2017. <a href="https://en.wikipedia.org/wiki/Joey_Badass"> (Source) </a>
	</p>

		<p>
			<b> Discography<b>
		<br>
		<br>
	 	
	 	<b> Studio Albums </b>
		
		<b> B4.DA.A$$ (2015)</b> 
	 	<br>
	 	
		
		<b> All-Amerikkkan Badas$$ (2017) </b> 
	 	<br>
	 	<br>
		
		<b> Mixtapes </b>
		<br>
		
		<b> 1999(2012) </b> 
		<br>
	 	
		<b> Summer Knights(2013) </b> 
	</p>

</body>

</html>
