<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>
	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../../index.html" id="OneButton" > Home </a> </button>
	<a href="artists.html">Artists </a> </button>
	<a href="../about.html"> About </a> </button>
	<a href="../playlist.html">Playlist </a> </button>
	</div>
	
	<div class="Name">
	<h2> Princess Nokia </h2>
	</div>
	
	<img src="../../images/PrincessNokiaAbout.jpg" alt="Princess Nokia">
	<p>
		Destiny Nicole Frasqueri, (born June 14, 1992), better known by her stage name Princess Nokia, is an American rapper of Puerto Rican descent. Frasqueri recorded her first song, "Destiny", in 2010, and released it under the name "Wavy Spice" on her SoundCloud page and her YouTube channel in mid-2012. Subsequently, she released her second track, "Bitch I'm Posh". The track went viral, and as of December 2017, received 110,000 plays on SoundCloud. 
		<br>
		Frasqueri then released YAYA (Yaya is a Taino word) as a commentary of perceptions of colonial history. Frasqueri continued to release singles, such as Dragons, a Game of Thrones inspired piece, Honeysuckle, and Vicki Gotti until changing her moniker to Princess Nokia. She released her mixtape, 1992, on Soundcloud. Frasqueri claims Princess Nokia is an alter ego,which she introduced with the track "Nokia".She released an album named Metallic Butterfly on May 12, 2014, and was debuted on Vice and Soundcloud. On September 8, 2017, she released her debut studio album, 1992 Deluxe, which was an expanded version of her 2016 mixtape, 1992. It peaked at #25 on Billboard's Heatseekers Albums chart.<a href="https://en.wikipedia.org/wiki/Princess_Nokia"> (Source) </a>
	</p>
<br>
<br>
<br>
<br>



		<p>
			<b> Discography<b>
		<br>
		<br>
	 	
	 	<b> Studio Albums </b>
		<br>
		<b> 1992 Deluxe (2017)</b> 
	 	<br>
	 	<br>

		<b> Mixtapes </b>
		<br>
		
		<b> Metallic Butterfly(2012) </b> 
		<br>

		<b> Honeysuckle (2015)</b>
		<br>

		<b> 1992 (2016) </b>
		<br>

		<b> A Girl Who Cried Red </b>
	</p>

</body>

</html>


