<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../../index.html" id="OneButton" > Home </a> </button>
	<a href="artists.html">Artists </a> </button>
	<a href="../about.html"> About </a> </button>
	<a href="../playlist.html">Playlist </a> </button>
	</div>
	
	<div class="Name">
	<h2> Rex Orange County</h2>
	</div>
	
	<img src="../../images/RexAbout.jpg" alt=" Rex Orange County">

	<p>
		Alexander O'Connor (born May 4, 1998), better known by his stage name Rex Orange County, is an English recording artist and songwriter who grew up in the village of Grayshott near Haslemere, Surrey. The name Rex Orange County is based on a teacher given nickname, the OC, after O'Connor. Rex Orange County shared online the DIY "UNO" recording in 2016 when he was 18. Clash magazine wrote, "the buoyant keyboard riff underpins a hypnotic half-spoken vocal, one that veers from topic to topic in a hazy burst of creative mania."Bcos U Will Never B Free was released by Rex Orange County in 2016 on SoundCloud. 
		<br>
		<br>
		In 2017 he released his second album Apricot Princess.Three months after the release of his second album, Rex Orange County was featured on Tyler, the Creator's album Flower Boy; he contributed vocals to and co-wrote the songs "Boredom" and "Foreword".Tyler picked up on O'Connor because of his debut album, reached out via SoundCloud and brought him to Los Angeles.His work has been compared to "other artsy, post-genre teen artists". As of 9 May 2018, the most popular track by Rex Orange County on Spotify is "Loving Is Easy" created in collaboration with the Dutch artist Benny Sings.he song was covered by the Swedish singer Tove Styrke. On April 16, 2018, Rex Orange County performed the song in his television debut on The Tonight Show Starring Jimmy Fallon.On May 31, 2018, Rex Orange County released a cover of "You've Got a Friend in Me", performing along with Randy Newman, the creator of the song <a href="https://en.wikipedia.org/wiki/Rex_Orange_County"> (Source) </a>
	</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

		<p>
			<b> Discography<b>
		<br>
		<br>
	 
	 <b> Bcos u will never b free (2016) </b> 
	 	<br>
	 	
	 <b> Apricot Princess (2017) </b> 
	</p>

</body>

</html>
