<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../../index.html" id="OneButton" > Home </a> </button>
	<a href="artists.html">Artists </a> </button>
	<a href="../about.html"> About </a> </button>
	<a href="../playlist.html">Playlist </a> </button>
	</div>

	<div class="Name">
	<h2> Saba</h2>
	</div>
	
	<img src="../../images/SabaAbout.jpg" alt=" Saba">
	

	<p>
		Tahj Malik Chandler (born July 17, 1994), better known by his stage name Saba (stylized as SABA), is an American rapper and record producer. He grew up in the Austin neighborhood of the West Side of Chicago. In April 2013 Saba gained recognition with his verse on Chance the Rapper's mixtape Acid Rap, in the song "Everybody's Something". In 2015, Saba and Chance the Rapper collaborated on the song "Angels". The duo performed the song live on The Late Show with Stephen Colbert, on October 26, 2015. 
		<br>
		<br>
		In December 2012, Saba shared his first project, GETCOMFORTable. The album is a "catalogue of young Chicago talents who join Saba in trying to make sense of themselves as rising adults in today’s world." The most popular song off of GETCOMFORTable was "Heaux" featuring well-known Chicago rapper, Mick Jenkins. In 2013, Chance the Rapper and Saba joined forces on Chance the Rapper's album Acid Rap. Saba's verse in the song "Everybody's Something" increased his popularity. Saba continued rapping in 2013 and began to create his second mixtape, ComfortZone. ComfortZone was released in July 2014. Saba used the album as a window into his life. He describes his surrounding and his optimistic attitude in his verses. The most popular song off ComfortZone was "Burnout" featuring Eryn Allen Kane. Saba not only rapped on all 14 songs but he also produced the majority of them.
	
	<a href="https://en.wikipedia.org/wiki/Saba_(rapper)"> (Source) </a>
	</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


		<p>
			<b> Discography</b>
		<br>
		<br>
	 
	 <b> Bucket List Project (2016) </b> 
	 	<br>
	 	
	 <b> Care for Me(2017) </b> 
	 	<br>
	 	<br>

	<b>Mixtapes</b>
		<br>
	
	<b> Get Comfortable (2012)</b>
		<br>
	
	<b> Comfort Zone (2014) </b>

	</p>

</body>

</html>
