<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/about.css">
</head>

<body>

	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../../index.html" id="OneButton" > Home </a> </button>
	<a href="artists.html">Artists </a> </button>
	<a href="../about.html"> About </a> </button>
	<a href="../playlists.html">Playlists </a> </button>
	</div>

	<div class="Name">
	<button id="bttn" onclick="document.getElementById('myPara').innerHTML ='Sza'"> Who is this artists? </button>
	<p id="myPara"> </p>
	</div>
	
	<img src="../../images/SzaAbout.jpg" alt=" Sza">

	<p>
		Solána Imani Rowe (born November 8, 1990), known professionally as SZA, is an American singer and songwriter. SZA was born in Saint Louis, Missouri, later relocating to Maplewood, New Jersey. In October 2012, SZA self-released her debut EP, See.SZA.Run, which she then followed up with her second EP, titled S, in April 2013. In July 2013, it was revealed that she had signed to the hip hop record label Top Dawg Entertainment, through which she released Z, her third EP and first retail release, in April 2014. SZA's debut studio album, Ctrl, was released on June 9, 2017, to universal acclaim from music critics. It debuted at number three on the US Billboard 200 and was eventually certified platinum by the Recording Industry Association of America (RIAA). The album and its songs were nominated for four Grammy Awards, while SZA was nominated for Best New Artist at the 60th annual ceremony. Ctrl was ranked as the best album of 2017 by Time.
	
	<a href="https://en.wikipedia.org/wiki/SZA_(singer)"> (Source) </a>
	</p>
<br>
<br>


		<p>
			<b> Discography</b>
		<br>
		<br>
	 
	 <b> CTRL (2017) </b> 
	 	<br>
	 

	</p>

</body>

</html>

