<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
	
</head>
<body>
	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../index.html" id="OneButton" > Home </a> </button>
	<a href="Artists/artists.html">Artists </a> </button>
	<a href="about.html"> About </a> </button>
	<a href="playlist.html">Playlist </a> </button>
	</div>
	

	<div class="Name">
	<h2> Mark Pillco </h2>
	</div>


	<img src="../images/MarkPillco.JPG">

		<p>
			If you ask any number of people how they feel about music, chances are you'll get an array of different answers. Some will see it as essential, while others may not even listen to any music whatsoever. However, what is universial is the understanding that the art form has created long standing impact in our culture. Many a time, Artists write about the tribulations of being a certain skin color, or growing up impoverished, in thoughtfully put together rhyme schemes. They give a unique point of view of their world, how they view the world or how they are view by the world. In the end they give out their own perspective, and ask that you listen.
		</p>

		<p>
			That is why I chose to dedicate this webpage these specific artists. Many of them offer up their own interesting perspectives that are worth listening to. Moreover, many of them talk about real issues that often aren't talked about in the mainstream (ie Princess Nokia and the foster system). They are significant to the conversations being held now. In their own significant way, they have made and will continue to make an impact on our culture.
			I use the name "INSIGHT" as a metaphor for the work of the artists. While their work gives insight into their world, I hope to give anyone who visits this website an insight into these artists, specifically their work.  

		</p>


	</div>

</body>

</html>	
	
