<!DOCTYPE html>

<html>
<head>
	<title> Midterm </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/playlist.css">
</head>

<body>
	<h1> INSIGHT </h1>
	<!-- Menu -->
	<div class="Header">
	<a href="../index.html" id="OneButton" > Home </a> </button>
	<a href="Artists/artists.html">Artists </a> </button>
	<a href="about.html"> About </a> </button>
	<a href="playlist.html">Playlist </a> </button>
	<div/>

	<h3> Playlist </h3>

<center>
<iframe src="https://open.spotify.com/embed/user/mark_pillco/playlist/4sGz9QFN0jZpXYL0qYRR6W" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</center>



</body>


</html>